/* Error page body layout */

.error-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Error card styles */

.error-card {
    font-weight: 500;
    margin-inline: auto;
    max-width: 80%;
    padding: 1.25rem;
    box-shadow: 0 0 30px #9a9efb;
    text-align: center;
    border-radius: .25em;
}

/* Card text styles */

.error-text h1 {
    font-size: 3.5rem;
    padding-block-end: 1rem;
}

/* Icon styles */

.icon-error {
    padding-block: 1.5rem;
}

.icon-error img {
        max-width: 50%;
        filter: drop-shadow(-10px -20px 10px #9a9efb);
}

/* Homepage button styles */
.error-card a {
    text-decoration: none;
}

.link-home-error {
    width: fit-content;
    margin-inline: auto;
    color: #3a3a3a;
    border: 1px solid #fff;
    padding: .5em;
    border-radius: 1.75em;
    background-color: #9a9efb;
    box-shadow: 2px 2px 10px #fff;
    text-transform: uppercase;
}

.link-home-error:hover,
.link-home-error:focus {
    background-color: #fff;
    border: 1px solid #9a9efb;
    box-shadow: 2px 2px 10px #9a9efb;
}

/* For small screens and laptops */
@media only screen and (min-width: 768px) {
    /* Bigger text and paddings */
    .error-card {
        padding: 1.5rem;
        font-size: 1.75rem;
    }

    .error-text h1 {
        font-size: 5.5rem;
    }

    .icon-error {
        padding-block: 2rem;
    }
}


/* For large screens */
@media only screen and (min-width: 1024px) {
    /* Bigger text and paddings */
    .error-card {
        max-width: 60%;
        padding: 2rem;
        font-size: 2rem;
    }

    .error-text h1 {
        font-size: 6.5rem;
    }

    .icon-error {
        padding-block: 2.5rem;
    }
}