@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Quicksand:wght@300;500&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Error card styles */
.error-card {
    background-color: #e4e5fe;
    max-width: 80%;
    max-height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px #9a9efb;
    text-align: center;
    font-size: 1.25rem;
}

.error-text {
    padding-block-end: 4rem;
}

.error-text h1 {
    font-size: 5rem;
    padding-block-end: 1rem;
}