@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Quicksand:wght@300;500&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Error card styles */
.error-card {
    background-color: #e4e5fe;
    max-width: 80%;
    max-height: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 30px #9a9efb;
    text-align: center;
    font-size: 1.25rem;
}

/* Card text styles */
.error-text {
    padding-block-end: 2.5rem;
}

.error-text h1 {
    font-size: 5rem;
    padding-block-end: 1rem;
}

/* Icon styles */

.icon {
    width: 60%;
    filter: drop-shadow(-10px -20px 10px #9a9efb);
    padding-block-end: 2.5rem;
}

/* Link to home page styles */
.link-home {
    text-decoration: none;
    color: #3a3a3a;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 1.75em;
    background-color: #9a9efb;
    box-shadow: 2px 2px 10px #fff;
    text-transform: uppercase;
}

.link-home:hover,
.link-home:focus {
    background-color: #fff;
    border: 1px solid #9a9efb;
    box-shadow: 2px 2px 10px #9a9efb;
}

/* For small screens and laptops and up */
@media only screen and (min-width: 768px) {
    /* Bigger text and paddings */
    .error-card {
        font-size: 2rem;
    }

    .error-text h1 {
        font-size: 6.5rem;
    }
}