@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');


/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    background-color: #e4e5fe;
}


/* Header styles */

/* Header background and font styles */

.header {
    font-family: 'Quicksand', sans-serif;
    background-image: url('../images/header-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    height: 100vh;
}

/* Navigation bar styles */

.nav-header {
    background-color: rgba(0, 0, 0, .1);
    padding: .75rem 1.25rem;
}

/* Navigation list and link styles */

.nav-list {
    list-style-type: none;
    text-align: right;
}

.nav-list li {
    display: inline-block;
    padding-block-start: .75rem;
    padding-inline-start: .75rem;
}

.nav-header a {
    text-decoration: none;
    color: #1a1a1a;
    text-shadow: 0px 0px 2px #1a1a1a;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #f5f5f5;
    border-block-end: 1px solid #f5f5f5;
    text-shadow: 1px 1px 3px #1a1a1a;
    border-radius: 4px;
    padding-block-end: .25em;
}

/* Main heading styles */

.main-heading {
    font-size: 2rem;
}

.main-heading a:hover,
.main-heading a:focus {
    color: #f5f5f5;
    text-shadow: 1px 1px 3px #1a1a1a;
}