/* After watching https://www.youtube.com/watch?v=kzvmaVik4mA for most where were possible I ve used logical properties */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Quicksand:wght@300;500&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #e4e5fe;
}

body {
    width: 100%;
    min-height: 100vh;
}


/* Header styles */

/* Header background and font styles */
/* Heo image */
.header {
    background-image: url('../images/header-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 60%;
    height: 100vh;
    position: relative;
}

/* Navigation bar styles */

.nav-header {
    font-family: 'Quicksand', sans-serif;
    background-color: #9a9efb;
    padding: .75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Code to hide on large screens collapsed menu elements */

.nav-menu span,
.nav-menu input,
.nav-menu label {
    display: none;
}

/* Navigation list and link styles */

.nav-menu .nav-list {
    list-style-type: none;
}

.nav-menu .nav-list li {
    display: inline-block;
    padding-inline-start: 1.25em;
}

.nav-menu .nav-list li:first-child {
    padding-inline-start: 0;
}

.nav-header a {
    text-decoration: none;
    color: #220B38;
    font-weight: 500;
    transition: all 0.3s linear;
}

.nav-menu .nav-list a:hover,
.nav-menu .nav-list a:focus {
    color: #fff;
    font-weight: 500;
}

.nav-menu .nav-list li a {
    text-transform: uppercase;
}

/* Main heading styles */

.main-heading {
    font-size: 2rem;
}

.main-heading a:hover,
.main-heading a:focus {
    color: #fff;
}


/* Text animation header thanks to Mozilla Developer Network resources */
.header-animation {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%);
    animation-name: text-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f5f5f5;
    text-align: center;
    line-height: 2;
    width: 14ch;
}

.header-animation-second {
    animation-delay: 4s;
}

.header-animation-third {
    animation-delay: 8s;
  }

  @keyframes text-animation {
    from {
      top: 25%;
    }
    to {
      top: 35%;
      opacity: 0;
    }
  }

/* Main body styles */

/* General section styles */

.section-wrap-inner {
    text-align: start;
    line-height: 1.5;
    padding-block: 4rem;
    width: 90%;
    margin-inline: auto;
}

.section-wrap-inner p {
    margin-block-end: 1em;
}

.section-wrap-inner p:last-child {
    margin-block-end: 0;
}  

/* Subheading styles */

.subheading {
    text-transform: uppercase;
    font-size: 1.75rem;
    padding-block-end: 1rem;
    font-weight: 300;
}

/* Subheading decoration underline */
.subheading-underline {
    height: 1px;
    width: 5rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(0.25turn, #9a9efb, #ffc0cb, #9a9efb);
    border-image-slice: 1;
    margin-block-end: 1rem;
    margin-inline: auto;
}

.about-section .subheading-underline {
    margin-inline-start: 0;
}
.adventure-article .subheading-underline  {
    margin-inline-start: 0;
}

.about-section .subheading {
    font-weight: 300;
}

.bold-text {
    font-weight: 500;
}

/* Yoga icons styles, General styles for blog article icons */

.icon-deco img {
    width: 40%;
}

.icon-deco {
    padding-block-start: 4rem;
    text-align: center;
}

/* About section background section */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */
.about-img {
    height: 100vh;
    background-image: url('../images/about.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    background-attachment: fixed;
}


/* Blog section */
/* Section heading and icon */

.adventure-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem 0;
}

.adventure-wrap img {
    width: 10vh;
}

/* Article styles */
.article-heading {
    font-size: 1.5rem;
    font-weight: 500;
    padding-block-end: 1rem;
}

/* Article 1 (Serifos) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-serifos {
    height: 100vh;
    background-image: url('../images/greece.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    background-attachment: fixed;
}

/* Article 2 (Positano) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-positano {
    height: 100vh;
    background-image: url('../images/positano.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
}

/* Article 3 (Ostend) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-ostend {
    height: 100vh;
    background-image: url('../images/calais.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 69%;
    background-attachment: fixed;
}

/* Article 4 (Calais) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-calais {
    height: 100vh;
    background-image: url('../images/calais1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53%;
    background-attachment: fixed;
}


/* Gallery section */

.gallery-section .subheading {
    text-align: center;
    font-weight: 500;
}

.subheading-wrap {
    padding-block-end: 4rem;
}

.gallery-section {
    background-color: #fff;
    padding-block: 4rem;
}


/* Gallery container */
/* I ve used code for gallery from https://www.w3schools.com/css/css3_flexbox_responsive.asp and adjusted for website needs */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 90%;
    margin-inline: auto;
}

/* Images and column containers for small screens */

.column {
    flex: 50%;
    max-width: 50%;
}

.column img {
    width: 100%;
}

/* Last column in image gallery is hidden for small screens */
.column:last-child {
    display: none;
}


/* Gallery button (Instagram) styles */
.gallery-btn {
    padding-block-start: 4rem;
    width: fit-content;
    margin-inline: auto;
}

.gallery-btn a {
    text-decoration: none;
    color: #220B38;
}

.follow-instagram-wrap {
    background-color: #9a9efb;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #9a9efb;
    border-radius: .25em .5em;
    padding: .5em;
    transition: all 0.5s linear;
}

.follow-instagram-wrap .fa-square-instagram {
    font-size: 2rem;
    vertical-align: middle;
}

.follow-instagram-wrap:hover,
.follow-instagram-wrap:focus {
    background-color: #fff;
    border-color: #9a9efb;
    color: #220B38;
    transform: scale(1.1);
}


/* Add Pop-up Image Lightbox in Pure CSS, code is taken from https://codesalad.dev/blog/pop-up-image-lightbox-in-pure-css-25#_ and adjusted for this site */
.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }


  /* Zoomed background images */
#gl1 span {
    background-image: url('../images/gallery/gl1.webp');
}
#gl2 span {
    background-image: url('../images/gallery/gl2.webp');
}
#gl3 span {
    background-image: url('../images/gallery/gl3.webp');
}
#gl4 span {
    background-image: url('../images/gallery/gl4.webp');
}
#gl5 span {
    background-image: url('../images/gallery/gl5.webp');
}
#gl6 span {
    background-image: url('../images/gallery/gl6.webp');
}
#gl7 span {
    background-image: url('../images/gallery/gl7.webp');
}
#gl8 span {
    background-image: url('../images/gallery/gl8.webp');
}
#gl9 span {
    background-image: url('../images/gallery/gl9.webp');
}
#gl10 span {
    background-image: url('../images/gallery/gl10.webp');
}
#gl11 span {
    background-image: url('../images/gallery/gl11.webp');
}
#gl12 span {
    background-image: url('../images/gallery/gl12.webp');
}

/* Connect section styles */

.connect-section {
    background-color: #fff;
    padding-block: 4rem;
    border-block-start: 1px solid;
    /* For liinear gradient border, i ve read this article https://stackoverflow.com/questions/2717127/gradient-borders and modified the code */
    border-image: linear-gradient(.25turn, #fff, #9a9efb, #fff);
    border-image-slice: 1;
}

/* Subheading Connect style */

.icon-letter img {
    width: 1.5em;
    vertical-align: middle;
    transform: skewY(-5deg);
}

.icon-letter {
    display: inline-block;
    padding-inline-end: .25em;
}

.connect-section .subheading {
    text-align: center;
}

/* Connect section form styles */
/* Form container styles */
.form-wrap {
    width: 80%;
    margin-inline: auto;
    padding: 2rem;
    background-color: #e4e5fe;
    color: #424242;
    border-radius: .25rem;
    box-shadow: 0 0 10px #b3b6fc;
}

/* Form input fields */

.form-wrap input, 
.form-wrap textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    border: #9a9efb;
    border: 1px solid #9a9efb;
    border-radius: .25rem;
    padding: .5em;
    margin-block-end: 1.25rem;
    color: #424242;
    outline: #9a9efb;
}

.form-wrap textarea {
    resize: vertical;
    min-height: 15vh;
}

/* Form button styles */

.btn-wrap {
    text-align: end;
}

.btn {
    font-size: inherit;
    background-color: #9a9efb;
    color: #220B38;
    border: 1px solid #fff;
    border-radius: .25em;
    padding: .75em 1.5em;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover, 
.btn:focus {
    background-color: #fff;
    color: #220B38;
    border-color: #9a9efb;
    box-shadow: 0 0 5px #9a9efb;
}

/* Footer section styles */
.footer-section {
    background-color: #323232;
    color: #fff;
    padding: 4rem 1.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Footer social network icons */
.footer-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    padding: .05rem .25rem;
    border-radius: .15em;
    transition: all 0.5s linear;
}

.footer-social a:hover, 
.footer-social a:focus {
    color: #323232;
    background-color: #e4e5fe;
}

/* Arrow to the top page */
.footer-section .fa-angle-double-up {
    color: #fff;
}

.arrow-up {
    position: absolute;
    right: 50%;
    bottom: 60%;
    font-size: 1.5rem;
    transition: 0.5s linear;
}

.arrow-up:hover,
.arrow-up:focus {
    transform: scale(1.3);
}

/*  For screens up to 768px  */
@media only screen and (max-width: 767px)  {

    /* Code for collapsed menu is taken from https://maxpelic.com/blog/post/css-only-menu/#home modified adjusted for this site purpose */

    .nav-menu span,
    .nav-menu input,
    .nav-menu label {
        display: initial;
    }

    .nav-menu span {
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        color: #000;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        top: 0.5rem;
        right: 1rem;
        text-align: end;
        min-height: 2.5rem;
        overflow: hidden;
    }

    .nav-menu input {
        display: none;
    }

    .nav-menu input:checked~label span:last-child {
        display: none;
    }

    .nav-menu input:not(:checked)~label span:first-child {
        display: none;
    }

    .nav-menu .nav-list {
        overflow: hidden;
        background: linear-gradient(0deg, rgba(154,154,251,1) 0%, rgba(255,235,205,1) 100%);
        width: 0;
        height: 0;
        border-radius: .25em;
        transition: width 0.5s, height 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-menu .nav-list li {
        padding: 0;
    }

    .nav-menu input:checked~.nav-list {
        width: 8rem;
        height: 10rem;
    }

    .nav-menu .nav-list li a {
        display: block;
        text-align: center;
        line-height: 1.5rem;
        letter-spacing: 2px;
        transition: color 0.5s, background 0.5s;
    }

    .nav-menu .nav-list li a:hover {
        color: #9a9efb;
    }

    /* Select last two child elements https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-last-child */
    .nav-menu .nav-list li:nth-last-child(-n+2) a:hover {
        color: blanchedalmond;
    }
}


/* For small screens and laptops */
@media only screen and (min-width: 768px) {

    /* Set nav bar to fixed */
    .nav-header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Text animation header larger font */
    .header-animation {
        font-size: 3rem;
    }

    /* Rearrange article content and give space between  */
    .section-wrap-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .text-box {
        flex: 60%;
    }

    .subheading {
        font-size: 2.5rem;
    }

    .article-heading {
        font-size: 2rem;
    }

    .icon-deco {
        padding-block-start: 0;
        flex: 30%;
    }
    
    .icon-deco img {
        width: 90%;
    }

    /* Evrey 2nd article reverse content */
    .adventure-article:nth-of-type(2n) .section-wrap-inner {
        flex-direction: row-reverse;
        text-align: end;
    }

    .adventure-article:nth-of-type(2n) > .section-wrap-inner > .text-box > .subheading-underline {
         /* text-align: end; */
         margin-inline: auto 0;
    }

    /* Connect narrow */
    .form-wrap {
        width: 70%;
    }
}


/* For desktops and large screens */
@media only screen and (min-width: 1024px) {
    
    /* Blog narrow */
    .section-wrap-inner {
        width: 85%;
    }

    .icon-deco img {
        width: 85%;
    }
    
    /* Gallery narrow */
    .gallery {
        width: 85%;
    }
    
    /* Images and column containers for large screens */
    .column {
        flex: 33%;
        max-width: 33%;
    }
    
    /* Last column in the image gallery is shown for large screens */
    .column:last-child {
        display: block;
    }

    /* Connect narrow */
    .form-wrap {
        width: 60%;
    }
}

/* For extra large screens */
@media only screen and (min-width: 1201px) {

    .about-section .section-wrap-inner {
        padding-block: 5.5rem;
    }

    .adventure-wrap {
        padding-block-start: 5.5rem;
    }

    .gallery-section {
        padding-block: 5.5rem;
    }

    .subheading-wrap {
        padding-block-end: 5.5rem;
    }

    .gallery-btn {
        padding-block-start: 5.5rem;
    }

    .connect-section {
        padding-block: 5.5rem;
    }


    /* Nav header */
    .nav-header {
        padding-inline: 2.5rem;
        font-size: 1.25rem;
    }
    
    .main-heading {
        font-size: 2.75rem;
    }

     /* Blog narrow */
     .section-wrap-inner {
        width: 80%;
        padding-block: 5.5rem;
    }

    .icon-deco img {
        width: 80%;
    }
    
    /* Gallery narrow */
    .gallery {
        width: 80%;
    }

    /* Connect narrow */
    .form-wrap {
        width: 55%;
    }

    /* Footer padding-inline */
    .footer-section {
        padding-inline: 2.5rem;
    }
}

/* XXL screens */
@media only screen and (min-width: 1440px) {
    /* Blog narrow */
    .section-wrap-inner {
        width: 75%;
    }
    
    .icon-deco img {
        width: 70%;
    }

    /* Gallery narrow */
    .gallery {
        width: 75%;
    }

    /* Connect narrow */
    .form-wrap {
        width: 45%;
    }
}


/* 4K screens */
@media only screen and (min-width: 2560px) {
    /* Blog narrow */
    .section-wrap-inner {
        width: 70%;
    }
    
    .icon-deco img {
        width: 60%;
    }
        
    /* Gallery narrow */
    .gallery {
        width: 65%;
    }

    /* Gallery Instagram button bigger */
    .follow-instagram-wrap {
        font-size: 2rem;
    }

    .follow-instagram-wrap .fa-square-instagram {
        font-size: 3rem;
    }

    /* Connect narrow */
    .form-wrap {
        width: 30%;
    }
}


/* CSS Code for Safari Compatibility taken from https://www.browserstack.com/guide/create-browser-specific-css */

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .about-img,
    .article-image-serifos,
    .article-image-positano,
    .article-image-ostend,
    .article-image-calais {
        background-attachment: scroll;
}
}}
/* Test website on real Safari 11+ */

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm){ 
@supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
    .about-img,
    .article-image-serifos,
    .article-image-positano,
    .article-image-ostend,
    .article-image-calais {
        background-attachment: scroll;
}
}}

/* Safari 6.1-10.0 (but not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0){ 
@media {
    .about-img,
    .article-image-serifos,
    .article-image-positano,
    .article-image-ostend,
    .article-image-calais {
        background-attachment: scroll; }
    }
}



/* Error page 404 styles */
/* Error page body layout */
.error-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header to relative for proper positionig of error page */
.error-body .nav-header {
    position: relative;
}

/* Error page card styles */

.error-card {
    font-weight: 500;
    margin-inline: auto;
    max-width: 80%;
    padding: 1.25rem;
    box-shadow: 0 0 30px #9a9efb;
    text-align: center;
    border-radius: .25em;
}

/* Error page card text styles */

.error-text h2 {
    font-size: 3rem;
    padding-block-end: 1rem;
}

/* Error page icon styles */

.icon-error {
    padding-block: 1.5rem;
}

.icon-error img {
        max-width: 40%;
        filter: drop-shadow(-10px -20px 10px #9a9efb);
}

/* Error homepage button styles */
.error-card a {
    text-decoration: none;
}

.link-home-error {
    width: fit-content;
    margin-inline: auto;
    color: #3a3a3a;
    border: 1px solid #fff;
    padding: .5em;
    border-radius: 1.75em;
    background-color: #9a9efb;
    box-shadow: 2px 2px 10px #fff;
    text-transform: uppercase;
}

.link-home-error:hover,
.link-home-error:focus {
    background-color: #fff;
    border: 1px solid #9a9efb;
    box-shadow: 2px 2px 10px #9a9efb;
}

/* Error page media queries */
/* For small screens and laptops */
@media only screen and (min-width: 768px) {
    /* Bigger text and paddings */
    .error-card {
        padding: 1.5rem;
        font-size: 1.75rem;
    }

    .error-text h2 {
        font-size: 5rem;
    }

    .icon-error {
        padding-block: 1.75rem;
    }
}


/* For large screens */
@media only screen and (min-width: 1024px) {
    /* Bigger text and paddings */
    .error-card {
        max-width: 60%;
        padding: 2rem;
        font-size: 2rem;
    }

    .error-text h2 {
        font-size: 6.5rem;
    }

    .icon-error {
        padding-block: 2rem;
    }
}