@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Quicksand:wght@300;500&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #e4e5fe;
}

body {
    width: 100%;
    min-height: 100vh;
}


/* Header styles */

/* Header background and font styles */

.header {
    font-family: 'Quicksand', sans-serif;
    background-image: url('../images/header-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    height: 100vh;
}

/* Navigation bar styles */

.nav-header {
    background-color: rgba(255, 255, 255, .3);
    padding: .75rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Navigation list and link styles */

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    padding-inline-start: 1.25em;
}

.nav-list li:first-child {
    padding-inline-start: 0;
}

.nav-header a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #f5f5f5;
    border-block-end: 1px solid #f5f5f5;
    text-shadow: 0 0 2px #1a1a1a;
    border-radius: 4px;
    padding-block-end: .25em;
}


/* Main heading styles */

.main-heading {
    font-size: 2rem;
    margin-block-end: 2rem;
}

.main-heading a:hover,
.main-heading a:focus {
    color: #f5f5f5;
    text-shadow: 0 0 2px #1a1a1a;
}


/* Main body styles */

/* General section styles */

.section-wrap-inner {
    text-align: left;
    line-height: 1.5;
    padding-block: 4rem;
    width: 90%;
    margin: 0 auto;
}

.section-wrap-inner p {
    margin-block-end: 1em;
}

.section-wrap-inner p:last-child {
    margin-block-end: 0;
}  

/* Subheading styles */

.subheading {
    text-transform: uppercase;
    font-size: 1.75rem;
    padding-block-end: 1rem;
    font-weight: 300;
}

.about-section .subheading {
    font-weight: 300;
}

.bold-text {
    font-weight: 500;
}

/* Yoga icons styles, General styles for blog article icons */

.icon-deco img {
    width: 40%;
}

.icon-deco {
    padding-block-start: 4rem;
    text-align: center;
}

/* About section background section */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */
.about-img {
    height: 100vh;
    background-image: url('../images/about.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    background-attachment: fixed;
}


/* Blog section */
/* Section heading and icon */

.adventure-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem 0;
}

.adventure-wrap img {
    width: 10vh;
}

/* Article styles */
.article-heading {
    font-size: 1.5rem;
    font-weight: 500;
    padding-block-end: 1rem;
}

/* Article 1 (Serifos) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-serifos {
    height: 100vh;
    background-image: url('../images/greece.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    background-attachment: fixed;
}

/* Article 2 (Positano) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-positano {
    height: 100vh;
    background-image: url('../images/positano.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
}

/* Article 3 (Ostend) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-ostend {
    height: 100vh;
    background-image: url('../images/calais.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 69%;
    background-attachment: fixed;
}

/* Article 4 (Calais) background image */
/* Code taken from https://www.w3schools.com/howto/howto_css_parallax.asp and adjusted for this website purpose, also used in other sections of site (about section, blog section) */

.article-image-calais {
    height: 100vh;
    background-image: url('../images/calais1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53%;
    background-attachment: fixed;
}


/* Gallery section */

.gallery-section .subheading {
    text-align: center;
    padding-block-end: 4rem;
    font-weight: 500;
}

.gallery-section {
    background-color: #fff;
    padding-block: 4rem;
}


/* Gallery container */
/* I ve used code for gallery from https://www.w3schools.com/css/css3_flexbox_responsive.asp and adjusted for website needs */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 90%;
    margin: 0 auto;
}

/* Images and column containers for small screens */

.column {
    flex: 50%;
    max-width: 50%;
}

.column img {
    width: 100%;
}

/* Last column in image gallery is hidden for small screens */
.column:last-child {
    display: none;
}


/* Gallery button (Instagram) styles*/
.gallery-btn {
    padding-block-start: 4rem;
}

.gallery-btn a {
    text-decoration: none;
    color: #220B38;
}

.follow-instagram-wrap {
    background-color: #9a9efb;
    box-shadow: 0 0 5px #9a9efb;
    border-radius: .25em .5em;
    height: 2.5rem;
    width: fit-content;
    margin: 0 auto;
    padding: .25em;
}

.follow-instagram-wrap .fa-square-instagram {
    font-size: 2rem;
    vertical-align: middle;
}

.follow-instagram-wrap:hover,
.follow-instagram-wrap:focus {
    background-color: #fff;
    color: #220B38;
    transform: scale(1.1);
}


/* Connect section styles */

.connect-section {
    background-color: #fff;
    padding-block: 4rem;
    border-block-start: 1px solid;
    /* For liinear gradient border, i ve read this article https://stackoverflow.com/questions/2717127/gradient-borders and modified the code */
    border-image: linear-gradient(.25turn, #fff, #9a9efb, #fff);
    border-image-slice: 1;
}

/* Subheading Connect style */

.icon-letter img {
    width: 1.5em;
    vertical-align: middle;
    transform: skewY(-5deg);
}

.icon-letter {
    display: inline-block;
    padding-inline-end: .25em;
}

.connect-section .subheading {
    text-align: center;
    padding-block-end: 4rem;
}

/* Connect section form styles */
/* Form container styles */
.form-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #e4e5fe;
    color: #424242;
    border-radius: .25rem;
    box-shadow: 0 0 10px #b3b6fc;
}

/* Form input fields */

.form-wrap input, 
.form-wrap textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    border: #9a9efb;
    border: 1px solid #9a9efb;
    border-radius: .25rem;
    padding: .5em;
    margin-block-end: 1.25rem;
    color: #424242;
    outline: #9a9efb;
}

.form-wrap textarea {
    resize: vertical;
    min-height: 15vh;
}

/* Form button styles */

.btn-wrap {
    text-align: end;
}

.btn {
    font-size: inherit;
    background-color: #9a9efb;
    color: #220B38;
    border: 1px solid #9a9efb;
    border-radius: .25em;
    padding: .75em 1.5em;
    cursor: pointer;
}

.btn:hover, 
.btn:focus {
    background-color: #fff;
    color: #220B38;
    border-color: #9a9efb;
    box-shadow: 0 0 5px #9a9efb;
}

/* Footer section styles */
.footer-section {
    background-color: #323232;
    color: #fff;
    padding: 7vh 1vh 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer social network icons */
.footer-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    padding: .15rem .5rem;
}

.footer-social a:hover, 
.footer-section a:focus {
    color: #323232;
    background-color: #e4e5fe;
    border-radius: .15em;
}


/*  For tablets  */
@media only screen and (min-width: 480px)  {
    /* Add little space between nav list elements */
    .nav-list li {
        padding-inline-start: 2em;
    }
}


/* For small screens and laptops */
@media only screen and (min-width: 768px) {
    /* Redirect flow of nav elements */
    .nav-header {
        flex-direction: row;
        align-items: center;
    }
    /* Margin 0, so that heading can be centred with nav list */
    .main-heading {
        margin-block-end: 0;
    }
    /* Rearrange article content and give space between  */
    .section-wrap-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .text-box {
        flex: 60%;
    }

    .subheading {
        font-size: 2.5rem;
    }

    .article-heading {
        font-size: 2rem;
    }

    .icon-deco {
        padding-block-start: 0;
        flex: 30%;
    }
    
    .icon-deco img {
        width: 90%;
    }

    /* Evrey 2nd article reverse content */
    .adventure-article:nth-of-type(2n) .section-wrap-inner {
        flex-direction: row-reverse;
        text-align: end;
    }

    /* Connect narrow */
    .form-wrap {
        width: 70%;
    }
}


/* For desktops and large screens */
@media only screen and (min-width: 1024px) {
    
    /* Blog narrow */
    .section-wrap-inner {
        width: 85%;
    }

    .icon-deco img {
        width: 85%;
    }
    
    /* Gallery narrow */
    .gallery {
        width: 85%;
    }
    
    /* Images and column containers for large screens */
    .column {
        flex: 33%;
        max-width: 33%;
    }
    
    /* Last column in the image gallery is shown for large screens */
    .column:last-child {
        display: block;
    }

    /* Connect narrow */
    .form-wrap {
        width: 60%;
    }
}

/* For extra large screens */
@media only screen and (min-width: 1201px) {
    /* Nav header */
    .nav-header {
        padding-inline: 2.5rem;
        font-size: 1.25rem;
    }
    
    .main-heading {
        font-size: 2.75rem;
    }

     /* Blog narrow */
     .section-wrap-inner {
        width: 80%;
    }

    .icon-deco img {
        width: 80%;
    }
    
    /* Gallery narrow */
    .gallery {
        width: 80%;
    }

    /* Connect narrow */
    .form-wrap {
        width: 55%;
    }
}

/* XXL screens */
@media only screen and (min-width: 1440px) {
    /* Blog narrow */
    .section-wrap-inner {
        width: 75%;
    }
    
    .icon-deco img {
        width: 70%;
    }
        
    /* Gallery narrow */
    .gallery {
        width: 75%;
    }

    /* Connect narrow */
    .form-wrap {
        width: 45%;
    }
}