@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');


/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

