@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');


/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General styles */

:root {
    scroll-behavior: smooth;
}

html {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    background-color: #e4e5fe;
}

body {
    width: 100%;
    min-height: 100vh;
}


/* Header styles */

/* Header background and font styles */

.header {
    font-family: 'Quicksand', sans-serif;
    background-image: url('../images/header-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    height: 100vh;
}

/* Navigation bar styles */

.nav-header {
    background-color: rgba(0, 0, 0, .1);
    padding: .75rem 1.25rem;
}

/* Navigation list and link styles */

.nav-list {
    list-style-type: none;
    text-align: right;
}

.nav-list li {
    display: inline-block;
    padding-block-start: .75rem;
    padding-inline-start: .75rem;
}

.nav-header a {
    text-decoration: none;
    color: #1a1a1a;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #f5f5f5;
    border-block-end: 1px solid #f5f5f5;
    text-shadow: 0 0 2px #1a1a1a;
    border-radius: 4px;
    padding-block-end: .25em;
}


/* Main heading styles */

.main-heading {
    font-size: 2rem;
}

.main-heading a:hover,
.main-heading a:focus {
    color: #f5f5f5;
    text-shadow: 0 0 2px #1a1a1a;
}


/* Main body styles */

/* General section styles */

.section-wrap-inner {
    text-align: left;
    line-height: 1.5;
    padding: 4rem 1.5rem;
}

.section-wrap-inner p {
    margin-block-end: 1em;
}

.section-wrap-inner p:last-child {
    margin-block-end: 0;
}  

/* Subheading styles */

.subheading {
    text-transform: uppercase;
    font-size: 1.75rem;
    padding-block-end: 1rem;
}

/* Yoga icons styles, General styles for blog article icons */

.icon-deco img {
    width: 40%;
}

.icon-deco {
    padding-block-start: 4rem;
    text-align: center;
}

/* About section background section */

.about-img {
    height: 100vh;
    background-image: url('../images/about.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    background-attachment: fixed;
}


/* Blog section */
/* Section heading and icon */

.adventure-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem 0;
}

.adventure-wrap img {
    width: 10vh;
}

/* Article styles */
.article-heading {
    font-size: 1.5rem;
    padding-block-end: 1rem;
}

/* Article 1 (Serifos) background image */

.article-image-serifos {
    height: 100vh;
    background-image: url('../images/greece.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
    background-attachment: fixed;
}

/* Article 2 (Positano) background image */

.article-image-positano {
    height: 100vh;
    background-image: url('../images/positano.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    background-attachment: fixed;
}

/* Article 3 (Ostend) background image */

.article-image-ostend {
    height: 100vh;
    background-image: url('../images/calais.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 69%;
    background-attachment: fixed;
}

/* Article 4 (Calais) background image */

.article-image-calais {
    height: 100vh;
    background-image: url('../images/calais1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53%;
    background-attachment: fixed;
}


/* Gallery section */

.gallery-section .subheading {
    text-align: center;
    padding-block-end: 4rem;
}

.gallery-section {
    background-color: #fff;
    padding: 4rem 1.5rem;
}


/* Gallery container */
/* I ve used code for gallery from https://www.w3schools.com/css/css3_flexbox_responsive.asp and adjusted for website needs */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

/* Images and column containers for small screens */

.column {
    flex: 50%;
    max-width: 50%;
}

.column img {
    width: 100%;
}

/* Last column in image gallery is hidden for small screens */
.column:last-child {
    display: none;
}


/* Gallery button (Instagram) styles*/
.gallery-btn {
    padding-block-start: 4rem;
}

.gallery-btn a {
    text-decoration: none;
    color: #fff;
}

.follow-instagram-wrap {
    background-color: #9a9efb;
    box-shadow: 0 0 5px #9a9efb;
    border-radius: .25em .5em;
    height: 2.5rem;
    width: fit-content;
    margin: 0 auto;
    padding: .25em;
}

.follow-instagram-wrap .fa-square-instagram {
    font-size: 2rem;
    vertical-align: middle;
}

.follow-instagram-wrap:hover,
.follow-instagram-wrap:focus {
    background-color: #fff;
    color: #9a9efb;
    transform: scale(1.1);
}


/* Connect section styles */

.connect-section {
    background-color: #fff;
    padding-block: 4rem;
    border-block-start: 1px solid;
    /* For liinear gradient border, i read this article https://stackoverflow.com/questions/2717127/gradient-borders and adjusted the code */
    border-image: linear-gradient(.25turn, #fff, #9a9efb, #fff);
    border-image-slice: 1;
}

/* Subheading Connect style */

.icon-letter img {
    width: 3rem;
    vertical-align: middle;
    transform: skewY(-5deg);
}

.icon-letter {
    display: inline-block;
}

.connect-section .subheading {
    text-align: center;
    padding-block-end: 4rem;
}

/* Connect section form styles */
/* Form container styles */
.form-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #e4e5fe;
    color: #424242;
    border-radius: .25rem;
    box-shadow: 0 0 10px #b3b6fc;
}

/* Form input fields */

.form-wrap input, 
.form-wrap textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    border: #9a9efb;
    border: 1px solid #9a9efb;
    border-radius: .25rem;
    padding: .5em;
    margin-block-end: 1.25rem;
    color: #424242;
    outline: #9a9efb;
}

.form-wrap textarea {
    resize: vertical;
    min-height: 15vh;
}